In [160]:
###############################################################################################################################

In [161]:
### Memeriksa dan membaca data

In [162]:
import pandas as pd
import numpy as np

In [163]:
df = pd.read_excel("Result EDA excel train.xlsx")

In [164]:
df.shape

(35994, 13)

In [165]:
df.head()

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,9,242912,15,9,5,5,1,0.0,0.0,35.0,<=7jt
1,1,49,9,140782,8,6,4,15,1,0.0,0.0,40.0,<=7jt
2,2,44,9,120057,9,12,6,15,2,61404000.0,0.0,45.0,>7jt
3,3,24,9,194630,16,13,5,14,2,0.0,0.0,35.0,<=7jt
4,4,33,9,219619,13,14,6,14,2,210336000.0,0.0,40.0,>7jt

In [166]:
# Menambahkan Data Dummies pada "Kelas Pekerja", "Pendidikan", "Status Perkawinan" , "Pekerjaan" , "Jenis Kelamin"
#df = pd.get_dummies(df, columns=["Kelas Pekerja", "Pendidikan", "Status Perkawinan" , "Pekerjaan" , "Jenis Kelamin"])
#df = pd.get_dummies(df, columns=["Kelas Pekerja", "Pekerjaan"])

In [167]:
#Merubah variabel target
gaji_dict = {
    "<=7jt" : 0,
    ">7jt" : 1
}

In [168]:
df["Gaji"] =  df["Gaji"].replace(gaji_dict)

In [169]:
df.shape

(35994, 13)

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     35994 non-null  int64
 1   Umur                   35994 non-null  int64
 2   Kelas Pekerja          35994 non-null  int64
 3   Berat Akhir            35994 non-null  int64
 4   Pendidikan             35994 non-null  int64
 5   Jmlh Tahun Pendidikan  35994 non-null  int64
 6   Status Perkawinan      35994 non-null  int64
 7   Pekerjaan              35994 non-null  int64
 8   Jenis Kelamin          35994 non-null  int64
 9   Keuntungan Kapital     35994 non-null  float64
 10  Kerugian Capital       35994 non-null  float64
 11  Jam per Minggu         35994 non-null  float64
 12  Gaji                   35994 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 3.6 MB

In [172]:
###############################################################################################################################

In [173]:
from scipy import stats

In [174]:
z = stats.zscore(df)

In [175]:
zs = np.where(z>3)

In [176]:
zss = pd.DataFrame(zs)

In [177]:
zss

,0,1,2,3,4,5,6,7,8,9,...,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780
0,5,11,32,50,53,56,80,90,97,116,...,35876,35891,35901,35902,35911,35965,35971,35976,35980,35981
1,10,10,9,10,10,1,10,10,10,10,...,10,10,10,10,10,10,1,10,10,1

In [178]:
### Menjalan kan algoritma KKN

In [179]:
from sklearn.neighbors import KNeighborsClassifier

In [180]:
model_knn = KNeighborsClassifier(n_neighbors = 46, weights='distance')
#{'n_neighbors': 46, 'weights': 'distance'}

In [181]:
X = df.drop(["id","Gaji"], axis = 1)
y = df["Gaji"]

In [182]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Umur                   35994 non-null  int64
 1   Kelas Pekerja          35994 non-null  int64
 2   Berat Akhir            35994 non-null  int64
 3   Pendidikan             35994 non-null  int64
 4   Jmlh Tahun Pendidikan  35994 non-null  int64
 5   Status Perkawinan      35994 non-null  int64
 6   Pekerjaan              35994 non-null  int64
 7   Jenis Kelamin          35994 non-null  int64
 8   Keuntungan Kapital     35994 non-null  float64
 9   Kerugian Capital       35994 non-null  float64
 10  Jam per Minggu         35994 non-null  float64
dtypes: float64(3), int64(8)
memory usage: 3.0 MB

In [183]:
y

0        0
1        0
2        1
3        0
4        1
        ..
35989    0
35990    1
35991    1
35992    0
35993    1
Name: Gaji, Length: 35994, dtype: int64

In [184]:
model_knn.fit(X,y)

KNeighborsClassifier(n_neighbors=46, weights='distance')

In [185]:
##############################################################################################################################

In [186]:
### Melakukan Evaluasi algoritma

In [187]:
from sklearn.model_selection import GridSearchCV

In [188]:
# model = KNeighborsClassifier()
# #n_neighbors
# #weights
# GridSearchCV?
# parameter = {"n_neighbors" : np.arange(3, 50), "weights" : ["distance", "uniform"]}
# gscv = GridSearchCV(model, param_grid = parameter, scoring = "accuracy", cv=5)
# gscv.fit(X,y)

In [194]:
#gscv.best_params_

In [195]:
########################################################################################################################################

In [196]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [198]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0, stratify=y)

In [199]:
y_prediksi = model_knn.predict(x_test)

In [200]:
score = accuracy_score(y_test, y_prediksi)

In [201]:
score

1.0

In [202]:
from sklearn.metrics import roc_auc_score

In [203]:
score_auc = roc_auc_score(y_test, y_prediksi)

In [204]:
score_auc

1.0

In [205]:
#############################################################################################################################

In [206]:
##### Memprediksi data rilll

In [207]:
df_Test = pd.read_excel("EDA test.xlsx")

In [208]:
X_Test = df_Test.drop(["id"], axis = 1)

In [209]:
X_Test.shape

(9599, 11)

In [210]:
###############################################################################################################################

In [211]:
y_predik = model_knn.predict(X_Test)

In [212]:
y_predik

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [213]:
################################################################################################################################

In [214]:
data_id = df_Test["id"]

In [215]:
df_id = pd.DataFrame(data_id)

In [216]:
df_id

         id
0     35994
1     35995
2     35996
3     35997
4     35998
...     ...
9594  45588
9595  45589
9596  45590
9597  45591
9598  45592

[9599 rows x 1 columns]

In [217]:
data_gaji = {'Gaji':y_predik}

In [218]:
prediksi = pd.DataFrame(data_gaji)

In [219]:
type(prediksi)

pandas.core.frame.DataFrame

In [220]:
prediksi

      Gaji
0        0
1        0
2        0
3        0
4        0
...    ...
9594     0
9595     0
9596     0
9597     0
9598     0

[9599 rows x 1 columns]

In [221]:
#mengabungkan df_id dan prediksi

In [222]:
# list data yang akan di gabung
gabung = [df_id, prediksi]
# gabungkan data dengan metode concat dari pandas
result = pd.concat(gabung, axis = 1)

In [223]:
result

         id  Gaji
0     35994     0
1     35995     0
2     35996     0
3     35997     0
4     35998     0
...     ...   ...
9594  45588     0
9595  45589     0
9596  45590     0
9597  45591     0
9598  45592     0

[9599 rows x 2 columns]

In [224]:
result.to_csv("prediksi gilang.csv")

In [225]:
f=pd.read_csv("prediksi gilang.csv")
keep_col = ["id","Gaji"]
new_f = f[keep_col]
new_f.to_csv("Result Lintang Gilang.csv", index=False)

In [226]:
###########################################################################################################################

In [227]:
#############################################################################################################################